
.body {
    display: flex;
    background-color: white;

}

.header {
    display: flex;
    margin-top: 93px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.nav-link-active {
    text-decoration: none;
}

.nav-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav {
    display: flex;
    flex-direction: row;
    line-height: 5px;
    margin-left: -10px;
    margin-right: 45px;
}

.circle {
    width: 7px;
    height: 7px;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.img {
    width: 148px;
    height: 105px;
}

.address {
    display: block;
    line-height: 19px;
    font-style: normal;
    text-underline-offset: 4px;
    margin-left: 193px;
}